apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-web-app
  labels:
    app: angular-web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-web-app
  template:
    metadata:
      labels:
        app: angular-web-app
    spec:
      containers:
      - name: angular-web-app
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: angular-web-app-service
spec:
  selector:
    app: angular-web-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
